$font: 'Rubik', sans-serif;
$text-color: #4F5665;
$heading-color: #0B132A;
$primary-color: #f53838;
$gray-color: #dde0e4;
$gray-light-color: linear-gradient(180deg, #F8F8F8 -45.04%, rgba(248, 248, 248, 0) 88.56%);
$gray-lighter-color: #ddd;
