.blogs {
    &-container {
        display: flex;
        align-items: center;
    }
    &-item {
        width: 569px;
        background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    }
}
