.comment {
    &-container {
        width: 969px;
        margin: 48px auto;
    }
    &-content {
        width: 569px;
        margin: 0 auto;
    }
    &-title {
        margin-bottom: 16px;
    }
    &-heading {
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 12px;
    }
    &-text {
        font-weight: 400;
        font-size: 17px;
    }
}
