.detail {
    &-container {
        margin-top: 48px;
    }
    &-sidebar {
        width: 169px;
    }
    &-tags {
        height: 103px;
        & h4 {
            margin-bottom: 16px;
        }
    }
    &-item {
        display: flex;
        flex-direction: row;
    }
}
