.footer {
    &-container {
    }
    &-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 0 200px;
    }
    &-heading {
        margin-bottom: 16px;
        font-weight: 600;
        font-size: 18px;
    }
    &-list {
        display: flex;
        flex-direction: column;
    }
    &-item {
        margin-bottom: 16px;
        list-style: none;
        font-size: 14px;
        font-weight: 400px;
        line-height: calc(19 / 14);
        color: $green-color;
    }
    &-tag {
        margin-top: 48px;

        & h4 {
            margin-bottom: 20px;
            font-weight: 600;
            font-size: 18px;
        }
        &--item {
            padding: 0;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 16px 26px;
            & span {
                width: auto;
                height: 18px;
                padding: 4px 10px;
                background-color: $gray-background-color;
                font-size: 12px;
                font-weight: 600;
                border-radius: 12px;
            }
        }
    }
}
