.header {
    &-container {
    }
    &-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 0;
        border-bottom: 1px solid rgba(21, 21, 21, 0.05);
    }
    &-infos {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0 33px;
        &--item {
            list-style: none;
        }
        &--item a {
            font-size: 12px;
            color: $text-color;
            &:hover {
                color: $gray-color;
            }
        }
    }
    &-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0 38px;
        &--item {
            list-style: none;
        }
        &--item a {
            font-size: 12px;
            color: $gray-color;
        }
    }
    &-bot {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px 0;
    }
    &-form {
        width: 500px;
        height: 42px;
        background-color: $gray-background-color;
        border: 1px solid #d1d1d1;
        border-radius: 12px;
        display: flex;
        align-items: center;
        &--select {
            width: 130px;
            height: 23px;
            margin: 10px 24px 10px 16px;
            font-weight: 700;
            font-size: 15px;
            border: none;
            background-color: inherit;
            cursor: pointer;
            text-align: center;
        }
        &--item {
            display: flex;
            align-items: center;
            padding-left: 24px;
            border-left: 1px solid #d1d1d1;
        }
        &--input {
            width: 262px;
            height: 19px;
            border: none;
            background-color: inherit;
            &::placeholder {
                color: $gray-color;
                font-size: 14px;
            }
        }
        &--button {
            width: 16px;
            height: 16px;
            background-color: inherit;
        }
    }
    &-auth {
        display: flex;
        align-items: center;
        gap: 0 41px;
    }
}
