.header {
    &-container {
    }
    &-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 16px;
    }
    &-infos {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0 33px;
        &--item {
            list-style: none;
        }
        &--item a {
            font-size: 12px;
            color: $text-color;
        }
    }
}
