.header {
    &-container {
    }
    &-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 0;
        border-bottom: 1px solid rgba(21, 21, 21, 0.05);
    }
    &-infos {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0 33px;
        &--item {
            list-style: none;
        }
        &--item a {
            font-size: 12px;
            color: $text-color;
            &:hover {
                color: $gray-color;
            }
        }
    }
    &-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0 38px;
        &--item {
            list-style: none;
        }
        &--item a {
            font-size: 12px;
            color: $gray-color;
        }
    }
    &-bot {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px 0;
    }
    &-form {
    }
}
