.pagination {
    &-container {
        margin-top: 32px;
        padding: 16px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-content {
        display: flex;
        flex-direction: row;
        gap: 0 8px;
        font-size: 12px;
        font-weight: 400;
        color: $text-color;
    }
    &-item {
    }
}
