.feature {
    &-container {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0 87px;
    }
    &-image {
        max-width: 601px;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(-20%, -16%);
    }
}
