.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}
.container {
    max-width: 1098px;
    margin: 0 auto;
    padding: 0 15px;
}
body {
    font-family: $font;
    font-weight: 500;
    line-height: 1;
    color: $text-color;
    background-color: #fff;
}
button {
    text-align: center;
    cursor: pointer;
    outline: none;
    border: none;
    font-family: $font;
}
.button {
    display: inline-block;
    padding: 15px 35px;
    border-radius: 100rem;
    font-family: $font;
    font-weight: 500;
    cursor: pointer;
    line-height: 1;
    font-size: 16px;
    border: none;
    outline: none;
    white-space: nowrap;
    &--primary {
        background-color: $primary-color;
        font-weight: 500;
        color: #fff;
    }
    &--outline {
        background-color: transparent;
        border: 2px solid $gray-color;
        color: $text-primary;
        font-weight: 500;
    }
}
