.header {
    &-container {
        padding-top: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-list {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0 38px;
    }
    &-item a {
        color: $text-color;
        .is-active,
        &:hover {
            color: $text-primary;
        }
    }
}
