.newsletter {
    margin-top: 140px;
    &-container {
        background-color: $blue-background;
        display: flex;
        align-items: center;
        border-radius: 67px;
    }
    &-content {
        max-width: 404px;
    }
}
