.newsletter {
    margin-top: 140px;
    &-container {
        background-color: $blue-background;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 67px;
        gap: 0 19px;
    }
    &-content {
        padding-top: 77px 0 116px 0;
        max-width: 404px;
    }
}
