.service {
    &-container {
    }
    &-content {
        margin: 0 auto;
        text-align: center;
        max-width: 619px;
    }
    &-title {
        margin-bottom: 25px;
    }
    &-heading {
        padding: 0 55px;
        margin-bottom: 32px;
    }
}
