<div class="main-banner" id="top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6">
        <div class="left-content">
          <div class="thumb">
            <div class="inner-content">
              <h4>We Are Nike</h4>
              <span>Just Do It</span>
              <div class="main-border-button">
                <a href="#">Purchase Now!</a>
              </div>
            </div>
            <img src="/assets/clients/images/mau_1.png" alt="">
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="right-content">
          <div class="row">
            <div class="col-lg-6">
              <div class="right-first-image">
                <div class="thumb">
                  <div class="inner-content">
                    <h4>Basketball</h4>
                    <span>Best Jumps For Basketball</span>
                  </div>
                  <div class="hover-content">
                    <div class="inner">
                      <h4>Basketball</h4>
                      <p>Lorem ipsum dolor sit amet, conservisii ctetur adipiscing elit incid.
                      </p>
                      <div class="main-border-button">
                        <a href="#">Discover More</a>
                      </div>
                    </div>
                  </div>
                  <img src="/assets/clients/images/basketball.png">
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="right-first-image">
                <div class="thumb">
                  <div class="inner-content">
                    <h4>Fashion</h4>
                    <span>Best Fashion For Everyone</span>
                  </div>
                  <div class="hover-content">
                    <div class="inner">
                      <h4>Fashion</h4>
                      <p>Lorem ipsum dolor sit amet, conservisii ctetur adipiscing elit incid.
                      </p>
                      <div class="main-border-button">
                        <a href="#">Discover More</a>
                      </div>
                    </div>
                  </div>
                  <img src="/assets/clients/images/fashion.png">
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="right-first-image">
                <div class="thumb">
                  <div class="inner-content">
                    <h4>Football</h4>
                    <span>Best Shots For Football</span>
                  </div>
                  <div class="hover-content">
                    <div class="inner">
                      <h4>Football</h4>
                      <p>Lorem ipsum dolor sit amet, conservisii ctetur adipiscing elit incid.
                      </p>
                      <div class="main-border-button">
                        <a href="#">Discover More</a>
                      </div>
                    </div>
                  </div>
                  <img src="/assets/clients/images/Football.png">
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="right-first-image">
                <div class="thumb">
                  <div class="inner-content">
                    <h4>Run</h4>
                    <span>Best Health Steps</span>
                  </div>
                  <div class="hover-content">
                    <div class="inner">
                      <h4>Run</h4>
                      <p>Lorem ipsum dolor sit amet, conservisii ctetur adipiscing elit incid.
                      </p>
                      <div class="main-border-button">
                        <a href="#">Discover More</a>
                      </div>
                    </div>
                  </div>
                  <img src="/assets/clients/images/run.png">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
