.logo {
    background-color: $blue-background;
    margin-bottom: 140px;
    &-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 80px 86px 75px 86px;
    }
}
