$font: "DM Sans", sans-serif;
$font: "Prata";
$text-color: #222120;
$white-color: #f8f3ed;
$black-background: #222120;
$white-background: #f8f3ed;
$primary-color: #f53838;
$gray-color: #dde0e4;
$gray-light-color: #f8f8f8;
$gray-lighter-color: #ddd;
