<div class="container-fluid pt-4 px-4">
  <div class="bg-light rounded h-100 p-4">
    <h6 class="mb-4">Products</h6>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Image</th>
            <th scope="col">Price</th>
            <th scope="col">Category</th>
            <!-- <th scope="col">Description</th> -->
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of products, let i = index">
            <th scope="row">{{i+1}}</th>
            <td>{{item.title}}</td>
            <td><img src="{{item.image}}" alt="" srcset="" class="w-50"></td>
            <td>{{item.price}}$</td>
            <td>{{item.category}}</td>
            <!-- <td>{{item.description}}</td> -->
            <td><button class="btn btn-primary">View</button></td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>
