.blogs {
    &-container {
        display: flex;
        align-items: center;
    }
    &-item {
        max-width: 569px;
    }
    &-content {
        padding: 43px 24px 24px 24px;
        margin-top: 194px;
        background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    }
    &-heading {
        width: 380px;
    }
}
