.editor {
    &-container {
    }
    &-content {
        padding: 48px;
        background-color: $while-color;
        border: 1px solid #d1d1d1;
        border-radius: 12px;
    }
    &-heading {
        font-weight: 600;
        font-size: 22px;
        line-height: calc(33 / 22);
    }
    &-text {
        font-weight: 400;
        font-size: 12px;
        line-height: calc(16 / 12);
        color: $gray-color;
    }
    &-form {
        margin-top: 32px;
    }
}
