.wrapper {
    max-width: 100%;
    margin: 0 auto;
}
.container {
    max-width: 1202px;
    margin: 0 auto;
    padding: 0 15px;
}
body {
    font-family: $font;
    background-color: $while-color;
    font-size: 16px;
    line-height: 1;
    font-weight: 500;
}
button {
    text-align: center;
    cursor: pointer;
    outline: none;
    border: none;
    font-family: $font;
}
.text-active {
    color: $text-color;
}
