.pagination {
    &-container {
        margin-top: 32px;
        padding: 16px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-content {
        display: flex;
        flex-direction: row;
        gap: 0 8px;
        font-size: 12px;
        font-weight: 400;
        & span {
            color: $gray-color;
        }
    }
    &-item {
        color: $text-color;
    }
    &-button button {
        width: 133px;
        height: 47px;
        padding: 12px 16px;
        color: $while-color;
        font-weight: 700;
        font-size: 15px;
        background-color: $green-color;
        border: 2px solid #46760a;
        border-radius: 12px;
    }
}
