<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="first-item">
          <div class="logo">
            <img src="assets/clients/images/logo_nike1.png" alt="hexashop ecommerce templatemo" class="w-75">
          </div>
          <ul>
            <li><a routerLink="#">16501 Collins Ave, Sunny Isles Beach, FL 33160, United States</a></li>
            <li><a routerLink="#">nikevn@gmail.com</a></li>
            <li><a routerLink="#">010-020-0340</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3">
        <h4>Shopping &amp; Categories</h4>
        <ul>
          <li><a routerLink="#">Dance's Shopping</a></li>
          <li><a routerLink="#">Basketball's Shopping</a></li>
          <li><a routerLink="#">Run's Shopping</a></li>
          <li><a routerLink="#">Fashion's Shopping</a></li>
        </ul>
      </div>
      <div class="col-lg-3">
        <h4>Useful Links</h4>
        <ul>
          <li><a routerLink="">Homepage</a></li>
          <li><a routerLink="about">About Us</a></li>
          <li><a routerLink="#">Help</a></li>
          <li><a routerLink="contact">Contact Us</a></li>
        </ul>
      </div>
      <div class="col-lg-3">
        <h4>Help &amp; Information</h4>
        <ul>
          <li><a routerLink="#">Help</a></li>
          <li><a routerLink="#">FAQ's</a></li>
          <li><a routerLink="#">Shipping</a></li>
          <li><a routerLink="#">Tracking ID</a></li>
        </ul>
      </div>
      <div class="col-lg-12">
        <div class="under-footer">
          <p>Copyright © 2022 Nike Co., Ltd. All Rights Reserved.

            <br>Design: <a href="https://templatemo.com" target="_parent" title="free css templates">TemplateMo</a>

            <br>Distributed By: <a href="https://themewagon.com" target="_blank"
              title="free & premium responsive templates">ThemeWagon</a>
          </p>
          <ul>
            <li><a routerLink="#"><i class="fa fa-facebook"></i></a></li>
            <li><a routerLink="#"><i class="fa fa-twitter"></i></a></li>
            <li><a routerLink="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a routerLink="#"><i class="fa fa-behance"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
