.custom-text {
  overflow: hidden;
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.images img {
  width: 290px;
  margin-top: 47px;
  border-radius: 5px;
}
.products {
  position: absolute;
  width: 40%;
  height: 100%;
  top: 10%;
  left: 50%;
}
.desc {
  text-transform: none;
  letter-spacing: 0;
  margin-bottom: 17px;
  color: #4e4e4e;
  font-size: 0.7em;
  line-height: 1.6em;
  margin-right: 25px;
  text-align: justify;
}
.modal-scroll__custom {
}
.modal-scroll__custom::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

.modal-scroll__custom::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

.modal-scroll__custom::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgba(145, 145, 145, 0.288);
}
.tagList {
  width: 35%;
}
.tags {
  display: flex;
  flex-wrap: wrap;
}
.tag-item {
  padding: 3px 10px;
  margin: 2px;
  border-radius: 40px;
  background: #ccc;
  font-size: 12px;
}
.tag-inp {
  display: flex;
  flex-wrap: wrap;
}
.tag-inp span {
  padding: 3px 6px;
  margin: 2px 2px;
  background: #ccc;
  border-radius: 30px;
  font-size: 13px;
}
.custom-title-post {
  overflow: hidden;
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.custom-drop {
  box-shadow: 0 0 5px #33333352;
}
.img-product {
  width: 300px;
}
