<div class="container-fluid pt-4 px-4">
  <button type="button" class="btn btn-secondary mb-2">
    <i class="bi bi-plus-circle"></i> New Posts
  </button>
  <div class="bg-light rounded h-100 p-4">
    <h6 class="mb-4">Posts</h6>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Slug</th>
          <th scope="col">Tags</th>
          <th scope="col">Created at</th>
          <th scope="">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of posts, let i = index">
          <th scope="row">{{i+1}}</th>
          <td><a routerLink="" class="custom-text text-decoration-none">{{item.slug}}</a></td>
          <td class="tagList">
            <div class="tags">
              <span class="tag-item" *ngFor="let tag of item.tagList"><i class="bi bi-tags"></i> {{tag}}</span>
            </div>
          </td>
          <td>{{item.createdAt| date: 'short'}}</td>
          <td>
            <div class="d-flex">
              <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editorProduct">
                <i class="bi bi-pencil-square"></i>
              </button> &nbsp;
              <button type="button" class="btn btn-danger"><i class="bi bi-trash"></i></button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
