.wrapper {
    max-width: 1600px;
    margin: 0 auto;
}
.container {
    max-width: 1299px;
    margin: 0 auto;
    padding: 0 15px;
}
button {
    cursor: pointer;
    outline: none;
    border: none;
    font-family: $font--dm;
    // color: $text-color;
}
