$font: 'Plus Jakarta Sans", sans-serif';
$white: #fff;
$light-grey-1: #eff0f3;
$light-grey-2: #e4e5e9;
$grey: #c0c0c0;
$dark-grey: #9a9494;
$text-color: #2b2c34;
$primary: #6246ea;
$bg-light: #eff0f3;
