<div class="auth-client">
  <div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
  </div>
  <form>
    <h3>Login Here</h3>

    <div class="form-floating mb-3">
      <input type="email" class="form-control custom-form" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Email</label>
    </div>
    <div class="form-floating mb-4">
      <input type="password" class="form-control custom-form" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>

    <p class="text-center">Don't have an Account?
      <a class="text-secondary" routerLink="/register-ad">Sign Up</a>
    </p>
    <button type="submit" class="btn btn-dark py-3 w-100 custom-form">Login</button>
    <div class="social">
      <div class="go"><i class="fab fa-google"></i> Google</div>
      <div class="fb"><i class="fab fa-facebook"></i> Facebook</div>
    </div>
  </form>
</div>
