<header class="header-area header-sticky">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">
          <!-- ***** Logo Start ***** -->
          <div class="row">
            <div class="col-md-2">
              <a routerLink="" class="logo">
                <img src="/assets/clients/images/logo_nike1.png" class="w-75">
              </a>
            </div>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <div class="col-md-8">
              <ul class="nav">
                <li class="scroll-to-section"><a routerLink="/" routerLinkActive="active">Home</a></li>
                <li class="scroll-to-section"><a routerLink="products" routerLinkActive="active">Product</a></li>
                <li class="scroll-to-section"><a routerLink="posts" routerLinkActive="active">Post</a></li>
                <li class="scroll-to-section"><a routerLink="about" routerLinkActive="active">About US</a></li>
                <li class="scroll-to-section"><a routerLink="contact" routerLinkActive="active">Contact</a></li>
                <li class="submenu">
                  <a href="">Categories <i class="bi bi-chevron-down"></i></a>
                  <ul>
                    <li><a routerLink="#">Dance</a></li>
                    <li><a routerLink="#">Basketball</a></li>
                    <li><a routerLink="#">Run</a></li>
                    <li><a routerLink="#">Fashion</a></li>
                  </ul>
                </li>
                <!-- <li class="submenu">
              <a href="">Features <i class="bi bi-chevron-down"></i></a>
              <ul>
                <li><a href="#">Features Page 1</a></li>
                <li><a href="#">Features Page 2</a></li>
                <li><a href="#">Features Page 3</a></li>
                <li><a rel="nofollow" href="https://templatemo.com/page/4" target="_blank">Template
                    Page 4</a></li>
              </ul>
            </li>
            <li class="scroll-to-section"><a routerLink="#explore">Explore</a></li> -->
              </ul>
            </div>
            <div class="col-md-2">
              <ul class="nav">
                <li class="scroll-to-section"><a routerLink="#" style="font-size: 16px;" routerLinkActive="active"><i
                      class="bi bi-cart-fill"></i></a>
                </li>
                <li class="submenu">
                  <a routerLink="#" style="font-size: 16px;" routerLinkActive="active"><i
                      class="bi bi-person-circle"></i></a>
                  <ul>
                    <li><a routerLink="/login">Login</a></li>
                    <li><a routerLink="#" aria-disabled="true">My Profile</a></li>
                    <li><a routerLink="#" aria-disabled="true">Logout</a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <a class='menu-trigger'>
              <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
