<section class="slider_section long_section">
  <!-- <div id="customCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="container ">
          <div class="row">
            <div class="col-md-5">
              <div class="detail-box">
                <h1>
                  For All Your <br>
                  Furniture Needs
                </h1>
                <p>
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus quidem maiores perspiciatis, illo
                  maxime voluptatem a itaque suscipit.
                </p>
                <div class="btn-box">
                  <a href="" class="btn1">
                    Contact Us
                  </a>
                  <a href="" class="btn2">
                    About Us
                  </a>
                </div>
              </div>
            </div>
            <div class="col-md-7">
              <div class="img-box">
                <img src="images/slider-img.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="container ">
          <div class="row">
            <div class="col-md-5">
              <div class="detail-box">
                <h1>
                  For All Your <br>
                  Furniture Needs
                </h1>
                <p>
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus quidem maiores perspiciatis, illo
                  maxime voluptatem a itaque suscipit.
                </p>
                <div class="btn-box">
                  <a href="" class="btn1">
                    Contact Us
                  </a>
                  <a href="" class="btn2">
                    About Us
                  </a>
                </div>
              </div>
            </div>
            <div class="col-md-7">
              <div class="img-box">
                <img src="images/slider-img.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="container ">
          <div class="row">
            <div class="col-md-5">
              <div class="detail-box">
                <h1>
                  For All Your <br>
                  Furniture Needs
                </h1>
                <p>
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minus quidem maiores perspiciatis, illo
                  maxime voluptatem a itaque suscipit.
                </p>
                <div class="btn-box">
                  <a href="" class="btn1">
                    Contact Us
                  </a>
                  <a href="" class="btn2">
                    About Us
                  </a>
                </div>
              </div>
            </div>
            <div class="col-md-7">
              <div class="img-box">
                <img src="images/slider-img.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ol class="carousel-indicators">
      <li data-target="#customCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#customCarousel" data-slide-to="1"></li>
      <li data-target="#customCarousel" data-slide-to="2"></li>
    </ol>
  </div> -->
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/assets/clients/images/slider-img1.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/assets/clients/images/slider-img2.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/assets/clients/images/slider-img3.png" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>
