.blog {
    &-container {
    }
    &-content {
        margin: 0 auto;
        max-width: 606px;
        text-align: center;
    }
    &-heading {
        margin-bottom: 25px;
    }
    &-card {
        margin-top: 78px;
    }
    &-item {
        max-width: 354px;
        &--title,
        &--text {
            margin-top: 33px;
            padding-left: 23px;
        }
    }
}
