.client {
    &-container {
        margin-top: 140px;
        display: flex;
        align-items: center;
        gap: 0 208px;
    }
    &-image {
        max-width: 523px;
    }
    &-content {
        max-width: 399px;
        margin: 41px 63px 0 0;
    }
}
