.header {
    &-container {
        padding-top: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-list {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0 38px;
    }
    &-item a {
        color: $text-color;
        position: relative;
        &:hover::after {
            content: "";
            position: absolute;
            width: 15px;
            height: 3px;
            bottom: 0;
            left: 0;
            background-color: $text-primary;
            transition: all 0.2s linear;
        }
        // &:hover {
        //     color: $text-primary;
        //     border-bottom: 2px solid $text-primary;
        //     transition: all 0.2s linear;
        // }
    }
}
