.service {
    &-container {
    }
    &-content {
        margin: 0 auto;
        text-align: center;
        max-width: 619px;
    }
    &-title {
        margin-bottom: 25px;
    }
    &-heading {
        padding: 0 55px;
        margin-bottom: 32px;
    }
    &-text {
        margin-bottom: 73px;
    }
    &-card {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 0 33px;
    }
    &-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    &-icon {
        padding-top: 40px;
        margin-bottom: 26px;
    }
    &-detail {
        max-width: 245px;
        padding-bottom: 87px;
    }
    &-detail h3 {
        margin-bottom: 19px;
        font-size: 21px;
        line-height: calc(31.5 / 21);
    }
    &-detail p {
    }
}
